<%-include("./partials/header")-%>
  <body class="bg-purple-100">
    <div class="m-8">
      <h1 class="text-3xl mb-8">Listagem de passageiros sdf</h1>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Número do voo</th>
            <th>Horário</th>
          </tr>
        </thead>
        <tbody>
          <% if (passengers.length > 0) { %> <% passengers.forEach(passenger =>
          { %>
          <tr>
            <td><%= passenger.name %></td>
            <td><%= passenger.flightNumber %></td>
            <td><%= passenger.time %></td>
          </tr>
          <% }); %> <% } %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"><%=passengers.length%> passageiros</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
